<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola desde Django!</h1>
    <p>Un pirito bailando</p>

    <h2>Bienvenido {{nombre}} {{apellido}}</h2>

    <ul style="list-style:none">
      {% for nota in listado %} 
        {% if nota > 6 %}
        <li style="
        border: 1px solid black;
        width:200px;
        text-align: center;
        border-radius: 3px;
        ">{{nota}}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <img
      src="https://media.giphy.com/media/DirPxXrUHKaCA/giphy.gif"
      alt="gif de perrito"
    />
  </body>
</html>
