<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia</title>
</head>
<body style="
    margin: 1rem auto;
    text-align:center;
    background-color:cornflowerblue;
    ">
    <h1 style="
        font-family:Cascadia Code;
        text-decoration:underline;
        background-color:white;
        display:inline;
        padding-top:1rem;
        ">Integrantes</h1>
    <table style="border: 2px black solid; 
    text-align:center;
    margin:5rem auto;
    width:300px;">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Pepe</td>
                <td>45</td>
                <td>45678955</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>Inyectar datos!</p>
</body>
</html>