{% extends 'AppIntegrantes/base.html' %} 
{% block main_content %}

<!-- Page content-->
<div class="container">
  <div class="text-center mt-5">
    <h1>Inicio</h1>
    <p class="lead">Esta es la página de inicio!</p>
    <iframe src="https://giphy.com/embed/gFW9rRpOkMRBY2KF6s" width="480" height="458" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dog-gFW9rRpOkMRBY2KF6s">via GIPHY</a></p>
    <p>Django es genial!</p>
  </div>
</div>

{% endblock main_content %}
