{% extends 'AppIntegrantes/base.html' %} 
{% block main_content %}

<!-- Page content-->
<div class="container">
  <div class="text-center mt-5">
    <h1>Profesores</h1>
    <p class="lead">Esta es la página de Profesores!</p>
    <iframe src="https://giphy.com/embed/rkJHXw18CncDwdoo9t" width="480" height="384" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/yungbae-bark-barking-angry-dog-rkJHXw18CncDwdoo9t">via GIPHY</a></p>
    <p>Django es genial!</p>
  </div>
</div>

{% endblock main_content %}
